{% extends 'adminpanel.html' %}

{% block content %}

  <body>
    <div class="card" style="padding: 20px; margin-bottom: 20px; background-color: #ededed;">
    <h1>Change Settings</h1>
    <br />

    <form method="post">
      {% csrf_token %}
      <div style="flex">
        <h6>Attempts:</h6>
        <input type="number" class="form-control" style="max-width: 100px;" name="attempts" value="{{ tuser.attempts }}" min="1" required />
      </div>
      <br />
      <a class="btn btn-secondary" href="{% url 'all_usernames' %}">Cancel</a>
      <button type="button submit" class="btn btn-success">Update</button>

    </form>
    </div>
  </body>
{% endblock %}
